ul.ztree {
    margin-top: 0;
    width: 500px;
    height: 808px;
    overflow-y: scroll;
    overflow-x: auto;
}

iframe {
    margin-left: 290px;
    border-left: 1px solid #0072a3;
    border-right: 1px solid #0072a3;
    width: 710px;
    height: 808px;
}
