ul.ztree {
    margin-top: 0;
    width: 244px;
    height: 808px;
    overflow-y: scroll;
    overflow-x: auto;
}

iframe {
    margin-left: 25px;
    border-left: 1px solid #cccccc;
    width: 431%;
    height: 808px;
}
