{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
{% endblock %}
{% block content %}
    <script>
        window.onload = init;

        function init() {
            showhide(2);
        }

        function showhide(n) {
            var box = document.getElementById("cmdb");
            box.className = "active";
            var box2 = document.getElementById("item");
            box2.className = "active";
        }
    </script>

    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div>
            <span>
                <a href="{% url 'metric_overview_systems' %}">
                    <i class="fa fa-home fa-2x"></i></a>
                <b style="color: #337AB7">{{ plat_name }}</b> 监控项
            </span>
        </div>
    </section>
    <hr class="h-divider">
    {% include 'cmdb/item-table.html' %}
{% endblock %}
