{% extends 'base.html' %}
{% block content %}
    <script src="/static/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <link rel="stylesheet"
          href="/static/plugins/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
    <script>
        window.onload = init;

        function init() {
            showhide(1);
            const system_id = Cookies.get('system_id');
            let health_home = Cookies.get("health_home");
            if (health_home === undefined){
                health_home = "health";
            }
            if (health_home === "health") {
                nav = document.getElementById("nav");
                url = "{% url 'health_overview_systems' %}";
                url2 = "{% url 'health_index_services' 12345 %}";
                url2 = url2.replace('12345', system_id);
                nav.getElementsByTagName('a')[0].setAttribute("href", url2);
                nav.getElementsByTagName('a')[1].setAttribute("href", url);
                nav.getElementsByTagName('a')[2].setAttribute("href", url2);
                nav.style.display = "block";
            } else if (health_home === "health2") {
                nav = document.getElementById("nav2");
                url = "{% url 'health_overview_services' %}";
                nav.getElementsByTagName('a')[0].setAttribute("href", url);
                nav.getElementsByTagName('a')[1].setAttribute("href", url);
                document.getElementById("nav").style.display = "none";
                nav.style.display = "block";
            }
        }

        function showhide(n) {
            let box = document.getElementById("monitor");
            box.className = "active";
            let health_home = Cookies.get("health_home");
            if (health_home === undefined) {
                return null;
            }
            let box2 = document.getElementById(health_home);
            box2.className = "active";
        }
    </script>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div>
              <span id="nav" style="display: none;">
            <a href="javascript:void(0);"><i class="fa fa-arrow-circle-left fa-2x"></i></a>&nbsp;&nbsp;
            <a href="javascript:void(0);">系统:{{ sys.name }}</a>&nbsp;&gt;&nbsp;
            <a href="javascript:void(0);">主机组:{{ svc.name }}</a>&nbsp;&gt;&nbsp;主机概况
            </span>
                <span id="nav2" style="display: none;">
            <a href="javascript:void(0);"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
            &nbsp;&nbsp;
            <a href="javascript:void(0);">主机组:{{ svc.name }}</a>&nbsp;&gt;&nbsp;主机概况
        </span>
            </div>
        </section>
        <hr class="h-divider">
        <!-- Main content -->
        <section class="content">
            <!-- <p style="color: #878787">当前主机组：{{ svc.name }} —— 近期问题统计</p> -->
            <div class="pad">
                <div id="alert" style="height: 160px;"></div>
                <div id="alert2" style="height: 160px;"></div>
            </div>

            <div style="color: #878787; margin: 0 0 10px 25px">
            <span class="switch switch-mini" style="max-height: 10px;">
                <input name="bsw-status" type="checkbox" checked>
            </span>&nbsp;&nbsp;当前主机组：{{ svc.name }} —— 近期问题统计
            </div>

            <div id="section-cards-view" style="display: none">
                <div class="box-body">
                    {% if sorted_allhost %}
                        {% for host in sorted_allhost %}
                            <div class="col-lg-3 col-md-6">
                            {% for k,v in allhost_data.items %}
                                {% if k == host.hostname %}

                                    <!-- <div class="panel panel-primary"> -->
                                    {% if v.total_problems == 0 %}
                                        <div class="panel panel-primary not_arrow_box">
                                    {% else %}
                                        <div class="panel panel-primary arrow_box_red">
                                    {% endif %}
                                    <div class="panel-heading">
                                    <div class="row" id="div-row-4-hosts">
                                        {% if v.total_problems > 0 %}
                                            <div class="col-xs-3">
                                                <i class="fa fa-desktop fa-2x"
                                                   aria-hidden="true"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">

                                            <div class="panel-title"
                                                 title="{{ host.hostname }} - {{ host.ip }}">{{ host.hostname }}</div>

                                            <div class="problem pull-left">
                                            <span class="huge">{{ v.total_problems }}</span>
                                            个问题
                                        {% else %}
                                            <div class="col-xs-3">
                                                <i class="fa fa-desktop fa-2x"
                                                   style="color: #afafaf"
                                                   aria-hidden="true"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                            <div class="panel-title" style="color: #afafaf"
                                                 title="{{ host.hostname }} - {{ host.ip }}">{{ host.hostname }}</div>

                                            <div class="problem pull-left">
                                            <span class="huge2">{{ v.total_problems }}</span>
                                            <span style="color: #afafaf">个问题</span>
                                        {% endif %}
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <a href="{% url 'health_index_problems' host.id %}">
                                            <div class="panel-footer">
                                                <div class="se">
                                                    {% if v.high_problems > 0 %}
                                                        <span class="fa fa-circle"
                                                              aria-hidden="true"
                                                              style="color: red"
                                                              data-toggle="tooltip"
                                                              data-placement="right"
                                                              title="严重"></span>
                                                        <span class="se-high">{{ v.high_problems }}</span>
                                                        &nbsp;&nbsp;
                                                    {% else %}
                                                        <span class="fa fa-circle"
                                                              aria-hidden="true"
                                                              style="color: grey"
                                                              data-toggle="tooltip"
                                                              data-placement="right"
                                                              title="严重"></span>
                                                        <span class="se-high2">0</span>&nbsp;&nbsp;
                                                    {% endif %}

                                                    {% if v.med_problems > 0 %}
                                                        <span class="fa fa-circle"
                                                              aria-hidden="true"
                                                              style="color: darkorange"
                                                              data-toggle="tooltip"
                                                              data-placement="right"
                                                              title="中等"></span>
                                                        <span class="se-medium">{{ v.med_problems }}</span>
                                                        &nbsp;&nbsp;
                                                    {% else %}
                                                        <span class="fa fa-circle"
                                                              aria-hidden="true"
                                                              style="color: grey"
                                                              data-toggle="tooltip"
                                                              data-placement="right"
                                                              title="中等"></span>
                                                        <span class="se-high2">{{ v.med_problems }}</span>
                                                        &nbsp;&nbsp;
                                                    {% endif %}

                                                    {% if v.low_problems > 0 %}
                                                        <span class="fa fa-circle"
                                                              aria-hidden="true"
                                                              style="color: #ffcc00"
                                                              data-toggle="tooltip"
                                                              data-placement="right"
                                                              title="一般"></span>
                                                        <span class="se-low">{{ v.low_problems }}</span>
                                                        &nbsp;&nbsp;
                                                    {% else %}
                                                        <span class="fa fa-circle"
                                                              aria-hidden="true"
                                                              style="color: grey"
                                                              data-toggle="tooltip"
                                                              data-placement="right"
                                                              title="一般"></span>
                                                        <span class="se-high2">{{ v.low_problems }}</span>
                                                        &nbsp;&nbsp;
                                                    {% endif %}
                                                    <span class="pull-right">问题:{{ v.total_problems }}&nbsp;<i
                                                            class="fa fa-arrow-circle-right"></i></span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
        </section>
    </div>

    <script src="/static/js/echarts.common.min.js"></script>
    <script src="/static/js/count-problems.js"></script>
    <script>
        function mydraw() {
            host_draw("{% url 'get_service_problems_data' svc.id %}");
        }

        AlertChart.showLoading();
        AlertChart2.showLoading();
        mydraw();
        setInterval(mydraw, 5000);
    </script>

    <script src="/static/js/show-cards2.js"></script>
    {% if sorted_allhost|length <= 8 %}
        <script>show_all_cards(0);</script>
    {% else %}
        <script>show_all_cards(1);</script>
    {% endif %}
{% endblock %}
