[db]
engine = mysql
host = xxx.xxx.xxx.xxx
port = 3306
user = root
password = xxxxxx
database = alerts

[token]
token = xxxxxxxxxx

[secret_key]
secret_key = 2vj7v5&&n%d7wpky^rj75-(yq^@(@dj8kz0o)805uq4z+_z&%0

[log]
log_path = /var/opt/alerts/logs
log_level = info

[mongodb]
mongodb_ip = xxx.xxx.xxx.xxx
mongodb_port = 27017
mongodb_user =
mongodb_pwd =
collection = sys_info

[redis]
redis_host = xxx.xxx.xxx.xxx
redis_port = 6379
redis_password = xxx
redis_db = 0

[ldap]
ldap_enable = True
ldap_server = ldap://xxx.xxx.xxx.xxx
ldap_port = 389
base_dn = dc=keep,dc=com
ldap_manager = cn=admin,dc=keep,dc=com
ldap_password = xxxxxx
ldap_filter = OpenLDAP
require_group =
nickname = cn
is_active =
is_superuser =

[wx]
wx_corpid =
wx_secret =
wx_agentid =
